{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "jest": true,
  },
  "rules": {
    "react/jsx-filename-extension": ["error", {
      "extensions": ["js"]
    }],
    "react/forbid-prop-types": 0,
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": [
        "**/*-test.js",
        "**/client/**/*.js"
      ]
    }]
  }
}
